@import "./prismjs/prism-vs.css";
@import "./prismjs/prism-vsc-dark-plus.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tree-view-output{
  overflow-x: auto;
}

.code-editor-container {
  overflow-x: auto;
  white-space: pre;
  display: block;
}